.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* App.css */
body, html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url('../public/tech_background.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it is behind other content */
}


.footer hr.red-line {
  color: #FF0000;
  background-color: #FF0000;
  height: 4px;
  border: none;
}

.footer hr.black-line {
  color: #000000;
  background-color: #000000;
  height: 0.5px;
  border: none;
}

.App-header {
  flex: 1;
  top: 0;
  z-index: 1000; /* Ensure header content is above the background */
  color: white;
  position: sticky;
  text-align: center;
  padding: 20px;
}

.red-line {
  border: 1.5px solid red;
}
.gallery {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the gallery */
}

.gallery-img {
  width: 200px; /* Set the width of each image */
  height: 300px; /* Set the height to maintain the aspect ratio */
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  object-fit: scale-down;
}

@media print {
  .no-print {
    display: none;
  }
}

.footer {
  background-color: #fbfbfb;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-box {
  margin: 10px 0;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #ff6347; /* Change to your preferred hover color */
}

.red-line {
  border: 1.5px solid red;
  width: 100%;
}

.text-muted {
  margin: 5px 0;
  color: #fff;
  
}

.centered-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.centered-table th, .centered-table td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-box {
    flex: 1;
    max-width: 45%;
    align-items: center;
  }
}

.footer p {
  color: #000000 !important;
  text-align: center !important;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 1;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navbar-menu {
  display: flex;
  gap: 15px;
}

.navbar-item {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.print-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.print-button:hover {
  background-color: #0056b3;
}